BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF ALLPORTS IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
LOCATE COMP "H_SYNC" SITE "B1" ;
LOCATE COMP "V_SYNC" SITE "L3" ;
LOCATE COMP "RED" SITE "C1" ;
LOCATE COMP "BLUE" SITE "M3" ;
LOCATE COMP "GREEN" SITE "F2" ;
LOCATE COMP "RESET" SITE "G2" ;
FREQUENCY NET "clk" 25.175000 MHz ;
